* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(0.33deg, #1E1E1E 1.35%, #E1B4FE 195.79%);
  font-family: Arial;
}

.open-nav {
  transform: translateX(0);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}
header h1 {
  color: white;
  font-size: large;
}
header h1 span {
  color: #afafaf;
}
header .menu {
  width: 2em;
  cursor: pointer;
}
header nav {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  width: 50%;
  height: 100vh;
  z-index: 999;
  text-transform: uppercase;
  transition: transform 0.5s ease-in-out;
  display: flex;
  transform: translateX(100%);
  flex-direction: column;
}
header nav svg {
  width: 2em;
  float: right;
  margin: 12px;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8px;
}
header nav ul a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: black;
  width: 100%;
}
header nav ul a:hover {
  background: rgb(214, 212, 212);
}

section.hero {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  padding: 8px 16px;
  color: white;
}
section.hero .greeting {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 24px;
}
section.hero #hint1 {
  color: white;
  display: block;
  text-align: center;
  font-weight: lighter;
}
section.hero .hero-img {
  width: 100%;
  padding: 1em 2em;
  border-radius: 4rem;
}
section.hero .quote {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}
section.hero #hint2 {
  color: white;
  font-weight: lighter;
}
section.hero .about-me {
  display: flex;
  font-family: Arial;
  flex-direction: column;
  row-gap: 1em;
  margin-top: 2em;
}
section.hero .about-me h1 {
  font-weight: bold;
  font-size: 2em;
  text-align: start;
}
section.hero .about-me p {
  color: white;
  font-weight: lighter;
  text-align: start;
}
section.hero .about-me p span {
  font-weight: bold;
}
section.hero .about-me .button-align {
  text-align: start;
}
section.hero .about-me .button-align button {
  background: black;
  border-radius: 50px;
  text-decoration: none;
  border: none;
  padding: 1rem 2rem;
  text-align: center;
  color: white;
}
section.hero .about-me .button-align button a {
  color: white;
  text-decoration: none;
}
section.hero .best-line {
  text-align: start;
  margin: 2em auto;
}
section.hero .best-line p {
  font-weight: lighter;
}
section.hero .best-line h2 {
  color: white;
  font-weight: bold;
}

section.contact-us {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  box-shadow: 0px 50px 100px #000000;
  background: white;
  margin: 2em;
}
section.contact-us img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  position: relative;
}
section.contact-us div.contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin: 1rem;
  justify-content: center;
  text-align: center;
}
section.contact-us div.contact-info .full-name {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
section.contact-us div.contact-info input, section.contact-us div.contact-info textarea {
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background: rgba(217, 217, 217, 0.5);
}
section.contact-us div.contact-info button {
  padding: 1em 2em;
  font-family: Arial;
  background: black;
  color: white;
  font-size: 1rem;
  border-radius: 50px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
}
footer hr {
  margin: 2em 0;
}
footer h2 {
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0;
}
footer .social {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
footer .social svg {
  width: 2em;
  cursor: pointer;
}

section.project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  font-family: Arial;
  margin: 2em 8em;
}
section.project .img-contain {
  position: absolute;
  top: 0;
  bottom: 0;
}
section.project img {
  width: 300px;
  z-index: -1;
  border-radius: 16px;
}
section.project .content-1 {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  text-align: start;
  width: 300px;
  justify-content: start;
  z-index: 999;
  padding: 1rem 2rem;
  color: white;
}
section.project .content-1 p {
  font-weight: lighter;
}
section.project .content-1 button {
  background: black;
  border-radius: 50px;
  text-decoration: none;
  padding: 8px 16px;
  text-align: center;
  color: white;
}

.best-line {
  text-align: left;
  margin: 2em;
}
.best-line p {
  font-weight: lighter;
}
.best-line h2 {
  color: white;
  font-weight: bold;
}

.project-title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  margin: 2em;
}

@media screen and (min-width: 500px) {
  section.hero .button-align {
    text-align: start;
  }
  section.hero .button-align button {
    font-size: 1.2rem;
  }
  section.hero .greeting {
    font-size: 3rem;
  }
}
@media screen and (min-width: 600px) {
  section.hero .button-align {
    text-align: start;
  }
  section.hero .button-align button {
    font-size: 1.5rem;
  }
  section.hero .greeting {
    font-size: 3rem;
  }
  section.contact-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  section.contact-us img {
    border-radius: 0%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  .project-title {
    margin-bottom: -6em;
  }
  section.project {
    margin: 18em 0em;
  }
  section.project img {
    width: 500px;
    border-radius: 4rem;
  }
  section.project .content-1 {
    padding: 1rem 2rem;
    width: 500px;
  }
  section.project .content-1 h1 {
    font-size: 2rem;
  }
  section.project .content-1 p {
    font-weight: lighter;
    font-size: 1.2rem;
  }
  section.project .content-1 button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
  }
}
@media screen and (min-width: 768px) {
  header .menu {
    display: none;
  }
  header nav {
    transform: translateX(0);
    width: auto;
    height: auto;
    background: none;
    position: none;
  }
  header nav ul {
    display: flex;
  }
  header nav ul a {
    color: #E1B4FE;
    font-weight: lighter;
  }
  header nav ul a:hover {
    background: none;
    border-bottom: 1px solid #E1B4FE;
  }
  header nav .close {
    display: none;
  }
  #left-right {
    flex-direction: row;
  }
  .project-title {
    margin: 2em;
  }
  section.project {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    padding: 0 2rem;
    margin: 1rem;
  }
  section.project .img-contain {
    position: unset;
  }
  section.project img {
    width: 300px;
    border-radius: 2rem;
  }
  section.project .content-1 {
    padding: 1rem 2rem;
  }
  section.project .content-1 h1 {
    font-size: 2rem;
  }
  section.project .content-1 p {
    font-weight: 200;
    font-size: 1.2rem;
  }
  section.project .content-1 button {
    padding: 1rem 2rem;
    border: none;
  }
}/*# sourceMappingURL=main.css.map */